body {
    margin: 0;
    background-color: #1C1C1C;
}

.container {
    width: 750px;
    margin-top: 64px;
    margin-left: 62px;
    /* padding-top: 115px;
    padding-left: 52px; */
    overflow: auto;
    background-color: #1F2937;
}

.main {
    color: #ffffff;
    margin-top: 115px;
    margin-left: 52px;
}

.main h1{
    margin-bottom: 15px;
    font-family: "Karla", sans-serif;
    font-size: 60px;
    font-weight: 800;
    line-height: 1em;
}

.main h4 {
    margin-top: 0px;
    color: #D5D4D8;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 25px;
}

.main span{
    color: #8B5CF6;
}

.player{
    margin-right: 52px;
    display: flex;
    justify-content: space-between;
}

button {
    height: 50px;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    background-color: #8B5CF6;
    font-weight: 500;
    line-height: 24px;
    font-size: 19px;
    padding: 9px 17px 9px 17px;
    margin-top: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 25px;
    text-shadow: 0px 0px 0.5px white;
}

#btn {
    width: 250px;
}

.lenPicker {
    display: flex;
    margin-right: 110px;
    width: 175px;
    justify-content: space-between;
}

.lenPicker button{
    width: 50px;
}

#lenght-el{
    margin-top: 30px;
    text-align: center;
    padding: 13px 17px 9px 17px;
    font-weight: 500;
    line-height: 24px;
    font-size: 25px;
    background-color: #273549;
    border: none;
    border-radius: 10px;
    margin-bottom: 25px;
}

.text-area {
    color: #D5D4D8;
    text-align: center;
    margin-left: 52px;
    margin-right: 52px;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #273549;
}

.input-text {
    text-align: center;
    margin-top: 25px;
    background-color: #273549;
    width: 310px;
    font-size: 1.2em;
    margin-bottom: 115px;
    border: none;
    border-radius: 5px;
    color: #8B5CF6;
    text-shadow: 0px 0px 0.5px white;
    transition: 0.5s;
}